.navbar{
position:fixed;
top:0;
left:0;
width:100%;
padding:18px 8%;
display:flex;
justify-content:space-between;
align-items:center;
z-index:1000;
transition:.35s;
}

.navbar.active{
background:rgba(3,7,18,.75);
backdrop-filter:blur(18px);
box-shadow:0 8px 30px rgba(0,0,0,.35);
}

.logo{
width:55px;
height:55px;
border-radius:50%;
background:linear-gradient(135deg,#2563eb,#38bdf8);
display:flex;
justify-content:center;
align-items:center;
font-size:22px;
font-weight:700;
color:#fff;
box-shadow:0 0 30px rgba(37,99,235,.5);
cursor:pointer;
}

.nav-links{
display:flex;
gap:40px;
list-style:none;
}

.nav-links a{
font-size:16px;
font-weight:600;
color:#fff;
transition:.3s;
position:relative;
}

.nav-links a::after{
content:"";
position:absolute;
left:0;
bottom:-6px;
width:0;
height:2px;
background:#38bdf8;
transition:.3s;
}

.nav-links a:hover::after{
width:100%;
}

.nav-links a:hover{
color:#38bdf8;
}

.menu-icon{
display:none;
font-size:28px;
cursor:pointer;
color:white;
}

@media(max-width:900px){

.menu-icon{
display:block;
}

.nav-links{
position:fixed;
top:80px;
right:-100%;
width:260px;
height:calc(100vh - 80px);
background:#0b1120;
display:flex;
flex-direction:column;
padding:40px;
gap:30px;
transition:.35s;
}

.nav-links.open{
right:0;
}

}